/***********************
* Topbar
***********************/
 .header{
 	min-width: 400px;
 }
 @media(max-width: 1199px){
 	.topbar{
 		display: none;
 	}
 }
.topbar-inner{
	display: flex;
	justify-content: space-between;
	background-color: var(--thm-black);
	padding-right: 60px;
}
.topbar-left{
	display: flex;
}
.topbar-socials{
	background-color: var(--thm-primary);
	padding: 10px;
	min-width: 253px;
	text-align: center;
}
.topbar-socials a{
	color:var(--thm-white);
	font-size: 14px;
}
.topbar-socials a + a {
	margin-left: 25px;
}
.topbar-info{
	padding: 10px 10px 10px 40px;
	color: var(--thm-secondary);
}
.topbar-one-middle .topbar-info {
	padding-left: 0;
}

	.topbar-one-middle .topbar-info{
		display: none;
	}

.topbar-info ul{
	padding: 0;
	margin: 0;
	display: flex;
	list-style-type: none;
}
@media(max-width: 991px){
	.topbar-info ul{
		display: block;
	}
}
.topbar-info ul li {
	display: flex;
	align-items: center;
}
@media(max-width: 991px){
	.topbar-info ul li{
		margin-bottom: 10px;
	}
}
.topbar-info ul li + li {
	margin-left: 35px;
}
@media(max-width: 991px){
	.topbar-info ul li + li{
		margin-left: 0px;
	}
}
.topbar-icon i{
	color: var(--thm-primary);
	font-size: 14px;
}
.topbar-text a{
	margin-left: 5px;
	font-size: 13px;
}
.topbar-text a:hover{
	color: var(--thm-white);
}
.topbar-text{
	margin-left: 5px;
	font-family: var(--thm-font);
	font-size: 13px;
}
.topbar-text span{
	color: var(--thm-secondary);
	font-size: 13px;
}
.topbar-right{
	padding: 10px 0px;
}

	.topbar-right{
		display: none;
	}

.topbar-right ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.menu-two .topbar-right ul {
	padding: 20px 0px 15px;
}
.topbar-right li{
	display: inline-block;
	color: var(--thm-secondary);
	font-size: 13px;
}
.topbar-right li a:hover{
	color: var(--thm-white);
}
.topbar-right li + li:before {
	content: '/';
	margin: 0px 10px;
}
.topbar-one{
	display: flex;
}
@media(max-width: 991px){
	.topbar-one{
		display: flex;
		justify-content: space-between;
	}
}
@media(max-width: 575px){
	.topbar-one{
		display: flex;
		justify-content: space-between;
	}
}
.topbar-one-middle{
	display: flex;
	justify-content: space-between;
	padding: 8px 0px;
	align-items: center;
}
@media(max-width: 1199px){
	.topbar-one-middle{
		display: block;
	}
}
/***********************
* Header
***********************/
.sticky-header--cloned {
  position: fixed;
  z-index: 991;
  top: 0;
  left: 0;
  background-color: var(--thm-white);
  width: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(-120%);
  transform: translateY(-120%);
  box-shadow: 0px 10px 40px 0px rgb(0 0 0 / 15%);
}
@media (max-width: 1199px) {
  .sticky-header--cloned {
    display: none !important;
  }
}
.sticky-header--cloned.sticky-fixed {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
	-webkit-transition: visibility 500ms ease, -webkit-transform 500ms ease, opacity 500ms ease;
	transition: visibility 500ms ease, -webkit-transform 500ms ease, opacity 500ms ease;
	transition: transform 500ms ease, visibility 500ms ease, opacity 500ms ease;
	transition: transform 500ms ease, visibility 500ms ease, -webkit-transform 500ms ease, opacity 500ms ease;
  visibility: visible;
}
/***********************
* Menu
***********************/
.main-menu{
	background-color: var(--thm-light-bg);
}
.main-menu.menu-two {
    padding-right: 0;
    z-index: 9;
    background-color: transparent;
    margin-bottom: -40px;
}
@media(max-width: 1199px){
	.main-menu.menu-two{
		margin-top: 10px
	}
}
@media(max-width: 575px){
	.main-menu.menu-two{
		margin-top: -17px
	}
}
.main-menu-inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main-menu-left{
	display: flex;
	align-items: center;
	flex-grow: 1;
}
.main-menu-logo{
	min-width: 253px;
	justify-content: center;
	display: flex;
	align-items: center;
	padding: 33px 20px;
	background: #fff;
}
@media (max-width: 399px) {
	.main-menu-logo {
		width: 100%;
		max-width: 220px;
		padding: 33px 20px;
	}
}
.menu-logo{
	width: 350px;
    height: 200px;
	align-items: center;
	color: var(--thm-white);
    margin-top: 10px;
    margin-left: 30px;
}

.navigation {
	padding-left: 50px;
	padding-right: 40px;
}
.menu-two .navigation {
	padding-left: 20px;
}
@media (max-width: 1499px) {
	.navigation{
		padding-left: 50px;
	}
}
@media (max-width: 1199px) {
	.navigation{
		display: none;
	}
}
.main-menu .main-menu-list {
	display: flex;
	margin: 0;
	padding: 0;
}
	.main-menu .main-menu-list{
		display: none;
	}

.main-menu .main-menu-list > li {
	position: relative;
}
.main-menu .main-menu-list > li > a{
	padding: 38px 0;
	display: flex;
	align-items: center;
	font-size: 17px;
	font-weight: 700;
	position: relative;
	color: var(--thm-gray);
}
.main-menu .main-menu-list > li > a:before{
	position: absolute;
	content: '';
	height: 5px;
	left: 0;
	top: calc(50% + 3px);
	background-color: var(--thm-primary);
	width: 100%;
	opacity: 0.3;
	transform: scale(0,1);
	transition: transform 500ms ease;
	transform-origin: right;
}
.main-menu .main-menu-list >li.active > a:before,
.main-menu .main-menu-list >li:hover > a:before{
	transform: scale(1,1);
	transform-origin: left;
}
.main-menu .main-menu-list > li.active > a,
.main-menu .main-menu-list > li > a:hover{
	color: var(--thm-black);
}
.main-menu .main-menu-list > li.has-dropdown > a:after {
	content: '\f107';
	font-family: "Font Awesome 6 Free";
	font-size: 13px;
	margin-left: 10px;
}
.main-menu.menu-two .main-menu-list > li > a {
	padding: 23px 0;
}
.main-menu .main-menu-list > li + li {
	margin-left: 50px;
}
@media (max-width: 1520px) {
	.main-menu .main-menu-list > li + li {
		margin-left: 30px;
	}
}
.main-menu .main-menu-list > li ul {
	opacity: 0;
	position: absolute;
	width: 220px;
	left: -15px;
	top: 100%;
	transform: translateY(30px);
	visibility: hidden;
	transition: all 500ms ease;
	z-index: 999;
	box-shadow: 0px 10px 30px 0px rgb(0 0 0 / 10%);
}
.main-menu .main-menu-list > li:hover > a + ul{
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
.main-menu .main-menu-list > li ul > li {
	position: relative;
}
.main-menu .main-menu-list > li ul > li > a {
	padding: 12px 20px;
	display: block;
	background-color: #fff;
	color: var(--thm-gray);
	border-bottom: 1px solid var(--thm-border);
}
.main-menu .main-menu-list > li ul > li:last-child > a {
	border-bottom: 0;
}
.main-menu .main-menu-list > li ul > li > a:hover {
	background-color: var(--thm-primary);
	color: #fff;
}
.main-menu .main-menu-list > li > ul li > ul {
	left: 100%;
	top: 0;
}
.main-menu .main-menu-list > li:hover > ul li:hover > ul {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
.mobile-menu-button  span{
	background-color: var(--thm-black);
}
.mobile-menu-button {
	display: none;
	margin-left: 30px;
	margin-right: 30px;
}

	.mobile-menu-button{
		display: block;
	}

@media (max-width: 575px) {
	.mobile-menu-button{
		margin-left: 0px;
	}
}
.mobile-menu-button span {
	height: 2px;
	width: 20px;
	background-color: var(--thm-black);
	display: block;
}
.mobile-menu-button span + span {
	margin-top: 4px;
}
.main-menu-right{
	display: flex;
	align-items: center;
	margin-left: 10px;
}
@media (max-width:575px) {
	.main-menu-right{
		margin-right: 20px;
	}
}
@media (max-width: 250px) {
	.main-menu-right{
		position: absolute;
		top: 68px;
		left: 0;
		right: 0;
	}
}
a.search-toggler{
	display: block;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: var(--thm-white);
	line-height: 55px;
	text-align: center;
}
.search-box{
	margin-right: 30px;
}
.search-box i{
	color: var(--thm-black);
	font-size: 20px;
	line-height: 2.5;
}
.main-menu-right-button .btn-primary {
	margin-right: 40px;
	padding: 12px 20px;
}

	.main-menu-right-button{
		display: none;
	}

.main-menu-right-button .btn-primary a{
 color: var(--thm-white);
 padding: 10px 0px;
}

	.main-menu-right-button .btn-primary{
		padding: 13px 20px;
	}

.main-menu-one-inner{
	display: flex;
	align-items: center;
	background-color: #fff;
	padding: 0 30px;
	position: relative;
	z-index: 99;
}

	.main-menu-one-inner {
		background-color: inherit;
		justify-content: end;
		padding: 0px;
		margin-top: 15px;
	}

@media (max-width: 575px) {
	.main-menu-one-inner {
		margin-top: 30px;
	}
}
.topbar-one-button{
	margin-top: 25px;
	margin-bottom: 25px;
	margin-right: 60px;
	display: flex;
}
@media(max-width: 1199px){
	.topbar-one-button{
		display: none;
	}
}
@media(max-width: 767px){
	.topbar-one-button{
		margin-left: 105px;
	}
}
@media(max-width: 575px){
	.topbar-one-button{
		margin-left: 0px;
	}
}
.topbar-one-button .btn-primary{
	padding: 14px 24px;
	margin-left: 15px;
	background-color: var(--thm-primary);
}

	.topbar-one-button .btn-primary{
		display: none;
	}

@media(max-width: 991px){
	.topbar-one-button .btn-primary{
		padding: 14px 49px;
	}
}
.topbar-one-button .btn-primary:hover,.topbar-one-button .btn-primary:focus,.topbar-one-button .btn-primary.active {
	background-color: var(--thm-primary);;
}
.topbar-one-button a {
	flex-shrink: 0;
}
.menu-logo{
	padding: 35px 20px;
	min-width: 250px;
        max-height: 150px;
	align-items: center;
	color: var(--thm-white);
	display: flex;
	justify-content: center;
    position: absolute;
    left: -60px;

}
@media(max-width: 575px){
	.menu-logo{
		min-width: 170px;
	}
}
.menu-logo {
    height: 100px;              /* hauteur officielle du header */
    display: flex;
    align-items: center;

}
.main-menu-right {
    margin-top: 10px;
}
.sub-header {
    height: 40px;              /* hauteur officielle du header */

}
.logo-box{
    height: 150px;
}

.logo-box {
    padding-left: 0 !important;
}

.logo-box img {
    margin-left: -20px; /* micro-ajustement si ton thème ajoute un espace fantôme */
}

@media (max-width:800px) {
       .header-area {
  background-color: rgba(250,250,250,0.15);
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 100;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}
}

.mobile-nav-content{
        background-color: #013150;
    }
@media (max-width:800px) {
    .mobile-nav-content{
        font-size: 12px;
    }
}

.menu-logo {
margin-top: 10px;
transition: margin-top 220ms ease;
}

#logo-couleur {
display: none; /* caché au départ */
}

.menu-logo.scrolled {
margin-top: 0;
}

.menu-logo.scrolled #logo-transparent {
display: none;
}

.menu-logo.scrolled #logo-couleur {
display: inline-block;
}

.span {
background-color: white;
transition: background-color 180ms ease;
}

.span.span--scrolled {
background-color: rgba(100,100,100,0.8);
}
.mobile-menu-button .span {
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.mobile-menu-button .span.span--scrolled {
    background-color: #000;
}
@media (max-width: 991px) {
	.event-header {
		margin-bottom: 30px;
	}
}
